@model FinalProject1.Models.GrantReview

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GrantReview</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GrantReviewDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrantReviewDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrantRequestStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrantRequestStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrantAllocationAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrantAllocationAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.EmployeeKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeeKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrantRequest.GrantRequestExplanation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrantRequest.GrantRequestExplanation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GrantReviewKey }) |
    @Html.ActionLink("Back to List", "Index")
</p>
